
.DS_Store
.DS_Store
.DS_Store
Data/contribution_top20_fake.csv
Data/contribution_top20_words_real.csv
Data/fake_top10_meaningful_words_freq.csv
Data/final_news.csv
Data/final_news.xlsx
Data/news2.csv
Data/news_clean.csv
Data/news_clean.xlsx
Data/real_top10_meaningful_words_freq.csv
Data/testing_data.csv
Data/testing_data.xlsx
Data/word_freq_fake.csv
Data/word_freq_real.csv
.DS_Store
.DS_Store
