anyio==3.5.0
appnope==0.1.2
Babel==2.9.1
blis==0.7.5
catalogue==2.0.6
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
cycler==0.11.0
cymem==2.0.6
entrypoints==0.3
et-xmlfile==1.1.0
Flask==2.0.2
fonttools==4.25.0
greenlet
gunicorn==20.1.0
idna
importlib-metadata 
ipython
ipython-genutils
itsdangerous==2.0.1
jedi
Jinja2
joblib
json5
jsonschema
jupyter-client
jupyter-core 
jupyter-server 
jupyterlab 
jupyterlab-pygments 
jupyterlab-server 
kiwisolver 
langcodes==3.3.0
MarkupSafe 
matplotlib 
matplotlib-inline 
mistune 
mkl-fft==1.3.1
mkl-random 
mkl-service==2.4.0
munkres==1.1.4
murmurhash==1.0.6
nbclassic 
nbclient 
nbconvert 
nbformat 
nest-asyncio
nltk==3.6.7
notebook
numexpr 
numpy 
olefile 
openpyxl==3.0.9
packaging 
pandas==1.3.5
pandocfilters 
parso 
pathy==0.6.1
patsy==0.5.2
pexpect 
pickleshare 
Pillow==8.4.0
preshed==3.0.6
prometheus-client 
prompt-toolkit 
ptyprocess 
pycparser
pydantic==1.8.2
Pygments 
pyOpenSSL 
pyparsing 
pypi==2.1
pyrsistent 
PySocks 
python-dateutil 
pytz==2021.3
pyzmq 
regex==2021.11.10
requests 
scikit-learn 
scipy 
Send2Trash 
six 
sklearn==0.0
smart-open==5.2.1
sniffio 
spacy==3.2.1
spacy-legacy==3.0.8
spacy-loggers==1.0.1
SQLAlchemy 
srsly==2.4.2
statsmodels 
stop-words==2018.7.23
terminado==0.9.4
testpath 
thinc==8.0.13
threadpoolctl 
tornado 
tqdm==4.62.3
traitlets 
typer==0.4.0
typing_extensions==4.0.1
urllib3==1.26.7
wasabi==0.9.0
wcwidth 
webencodings==0.5.1
Werkzeug==2.0.2
zipp 